# Basic of python

## 1. Basic
* *Adding Comment*
* *Print function*
* *Statements*

### I)   Adding Comment :
 #### -  *To add comment we can use ' # ' in code.*
 #### -  *Also we can use  """ Hello Python """ for multiple lines.*

In [25]:
## single line comment


var1 = 9      # value 9 stored in variable name 'var1'
var1

9

In [8]:
var2 = 6-4    # substraction of two numbers
var2

2

In [17]:
## Multiple line comment

var3 = 10

'''value 10
stored in 
variable 
name var3'''

var3

10

### II)  Print Function :
 #### -  *In python if we want call function then we can use simply their name follwed by arguments if exists in parentheses.*
 #### - *In print function we give what we need to print in parentheses.*

In [2]:
##  Lets run our first python code by printing "Hello World" 


print("Hello World")

Hello World

In [5]:
##  Lets run our first python code by printing "PYTHON IS THE BEST LANGUAGE" 


print("PYTHON IS THE BEST LANGUAGE")

PYTHON IS THE BEST LANGUAGE

### III)  Statements :

In [6]:
## Single line statement


A = 10 + 20
A

30

In [17]:
## Multiple line statement


B = 10 + 20 + 30\
    + 40 + 50 + 60\
    + 70 + 80 - 260
B

100

## 2. Python Identifiers
 * *Variable assignment*
 * *Assigning 'string' (str) value to variable*
 * *Assigning numerical value to variable*
 * *We can recall variable name for printing output instead of using print function (only in jupyter notebook)*

###### ----- We have to take care of following things while writing identifiers :
1. *It can be of any length.*
2. *It can be combination of lower cases (a-z) , upper cases (A-Z) and digits (0-9).*
3. *It can't be start with digit.*
4. *It can't be include special symbols like { !, @, #, &, $ }*
5. *We can use '_' i.e underscore in identifire for attaching two strings or one string and one number.*
6. *We can't give space between letters, words or between letter and digit.*
7. *We can't use python keywords as a python identifier*

###### ----- Python keywords :

**in , and , or , if , else , elif , def , while , break , True , False , etc.**

Python keywords are used to define the syntax and structure of the Python language.

In [24]:
## Examples of python identifiers

We can write identifier of any length like 
- myname
- myvillage
- myschoolmarks

Identifiers using underscore  
- my_name 
- my_number 
- my_village

We  **can't**  start our identifier by digit
- 1stvariable 
- 19thnumber

We **can't** include any special symbol at any position while writing identifier 
- name@
- hello!
- time@2pm
- $rupees
- #brand

We **can't** write identifier using space between characcters 
- my name 
- my number 
- my village

### I)  Variable assignment :

#### 1. *Variable is used to store value and we use '=' i.e. assignment operator to assign value to it.*
#### 2. *We can assign any value to variable i.e. both categorical and numerical.*

In [26]:
my_name = "Akanksha"
my_name

'Akanksha'

### II)  Assigning 'string' (str) value to variable

In [27]:
## Here we assign Akanksha string value to my_name variable


my_name = "Akanksha"
print(my_name)

Akanksha

In [28]:
## we can check type of variable i.e type of it's value 


type(my_name)

str

In [30]:
##  we can update value of variable and once variable get updated it will give updated value after calling this variable.


my_name= "Rutu"
print(my_name)

Rutu

In [35]:
##  we can assign whole statement to single variable.


place = '''She's from Satara,
        but lives in Pune.'''
print(place)

She's from Satara,
        but lives in Pune.

###  II)   Assigning numerical value to variable :

#### --- There are two types of numbers 
#### 1. *Integer : An integer is a number with no decimal or fractional part, from the set of negative and positive numbers,                                                     including zero* 
#### 2. *Float :  A float is a number with a decimal place*

In [36]:
## Here we assign integer number 5 to my_number variable.


my_number =  0
print(my_number)

0

In [37]:
type(my_number)

int

In [38]:
## we can also update interger value of variable.


num = 7
print(num)

7

In [39]:
type(num)

int

In [40]:
## Here we assign real number 5.4 to my_num variable.


my_num = 5.4
print(my_num)

5.4

In [41]:
type(my_num)

float

###  IV)  We can recall variable name for printing output instead of using print function :

In [43]:
my_number

0

In [44]:
num

7

In [45]:
my_num

7.5

.

.

In [47]:
## jupyter notebook cell prints last code line.

my_number
num

7

In [54]:
## if we want print more outputs of same cell then we need to use print function.

print(my_num)
num

7.5

7

In [55]:
print(my_num)
print(num)

7.5
7

In [62]:
## Multiple Assignments


int_1,float_2,str_3 = 10,2.5,'Python'           # Using commas to separate
print(int_1)
print(float_2)
print(str_3)

10
2.5
Python

In [63]:
# All variables pointing to same value.


a = b = c = d = 21 
print(a,b,c,d)

21 21 21 21

.

.

## 3. Data Types
####  *1. Numeric - Float and integer*
####  *2. String*
####  *3. Boolean*

In [64]:
## Numeric


var1 = 5.4        # Integer data type
var2 = 6.2        # Float data type
print(var1)
print(var2)

5.4
6.2

In [66]:
## String


str_2 = "HELLO PYTHON"
print(str_2)

HELLO PYTHON

In [65]:
# Boolean data type can have only two possible values true or false.


bool_1 = True
bool_2 = False
print(bool_1)
print(bool_2)

True
False