# Data Structures

 ### Exercise 1
 *  Create a tuple of 3 names: "john", "sia" and "ria"

In [14]:
tup = ("john","sia","ria")
tup

('john', 'sia', 'ria')

### Exercise 2
 * Display the second object in the tuple

In [34]:
tup[1]     ## Second object

'sia'

### Exercise 3
 * Create a tuple containing the letters of your name from a string

In [49]:
## Create a string

name = "Akanksha" 
name[0],name[1],name[2],name[3],name[4],name[5],name[6],name[7]

('A', 'k', 'a', 'n', 'k', 's', 'h', 'a')

    - Another method

In [50]:
name = "Akanksha"
tuple(name)

('A', 'k', 'a', 'n', 'k', 's', 'h', 'a')

### Exercise 4
 * Create a list of 3 names: "john", "sia" and "ria"

In [51]:
name_1 = ["john","sia","ria"]
name_1

['john', 'sia', 'ria']

### Exercise 5
 * Append the string "elena" to the names list using .append()

In [52]:
name_1.append("elena")
name_1

['john', 'sia', 'ria', 'elena']

### Exercise 6
 * Print the last item in names list

In [53]:
name_1[-1]

'elena'

### Exercise 7
 * check 'john' name's length using len()

In [54]:
A = 'john'
len(A)

4

### Exercise 8
 * Create an empty dictionary

In [59]:
dictionary = {}
dictionary

{}

 - Another method

In [60]:
dictionary_1 = dict()
dictionary_1

{}

### Exercise 9
 * Add some key-value pairs to the dictionary

In [68]:
dictionary_2 = {"colour":"Yellow", "size":30}
dictionary_2

{'colour': 'Yellow', 'size': 30}