# Operators & String manipulations

### Conversion Of Types

In [4]:
## from int to float

a = 3
a
float(a)

3.0

In [5]:
## from float to int

b = 3.3
b
int(b)

3

In [6]:
## from int to string

c = 7
c
f = str(c)
f

'7'

In [9]:
type(a)

int

In [10]:
type(b)

float

In [11]:
type(c)

int

In [12]:
type(f)

str

In [13]:
####  But we can't convert string into an int or float type.


P = 'Akanksha'
Q = int(P)
print(Q)

ValueError: invalid literal for int() with base 10: 'Akanksha'

### This will always gives an error

### Arithmetic operators

In [15]:
P = 8
Q = 9
R = 10

In [17]:
add = P+Q
add

17

In [18]:
sub = R-Q
sub

1

In [19]:
mult = P*Q
mult

72

In [20]:
div = Q/R
div

0.9

In [21]:
mod = R%Q
mod

1

In [22]:
pow = R**Q
pow

1000000000

In [23]:
floor = R//P
floor

1

In [24]:
ceiling = (P+Q)-R//P
ceiling

16

### Logical operators

In [26]:
x = 30
y = 40

In [30]:
## Greater than

print('x is greater than y:- ',x>y)

x is greater than y:-  False

In [31]:
## Less than

print('x is less than y:- ',x<y)

x is less than y:-  True

In [32]:
## Greater than or equal to

print('x is greater than or equal to y:- ',x>=y)

x is greater than or equal to y:-  False

In [33]:
## Less than or equal to

print('x is less than or equal to y:- ',x<=y)

x is less than or equal to y:-  True

In [35]:
## Equal to

print('x is equal to y:- ',x==y)

x is equal to y:-  False

In [36]:
## Not equal to

print('x is not equal to y:- ',x!=y)

x is not equal to y:-  True

In [38]:
x = True
y = False

print('Logical AND operation :- ',x and y)     ## True if both values are true
print('Logical OR operation :- ',x or y)       ## True if either of the values is true
print('NOT operation :- ',not x )              ## True if operand is false

Logical AND operation :-  False
Logical OR operation :-  True
NOT operation :-  False

### String

In [43]:
V = "Akanksha"
V
type(V)

str

In [44]:
str = "Good Luck"
str
type(str)

str

### If you need to include a quotation mark that matches the delimiter inside a string, then you can escape the character using a backslash :

In [46]:
msg = "She said, \"What are you doing ?\" Come here"
msg

'She said, "What are you doing ?" Come here'

### Operations on string

In [48]:
str = 'PQR'
len(str)

3

In [57]:
s1= "Hi Everyone,"
s2= " This is Akanksha."
s3=print('string concatenation:- ',s1 + s2)

string concatenation:-  Hi Everyone, This is Akanksha.

In [59]:
len(s2)

18

In [60]:
s2*2

' This is Akanksha. This is Akanksha.'

In [61]:
## replacement of letters
word = 'sun'
word.replace('u','o')

'son'

In [64]:
## Indexing

Name = 'Akanksha'
Name

'Akanksha'

In [72]:
n=len(Name)
n

8

In [66]:
Name[3]

'n'

In [68]:
Name[6]

'h'

In [69]:
Name[-1]

'a'

In [70]:
Name[-4]

'k'

In [71]:
## Last character in string

Name[len(Name)-1]   ## n-1= 8-1=> 7

'a'

### Slicing

In [74]:
Name[0:5]

'Akank'

In [76]:
Name[:8]

'Akanksha'

In [77]:
Name[0:]

'Akanksha'

In [80]:
Name[-8:]

'Akanksha'

In [92]:
Name.index('h')

6

###  Place holder

In [94]:
state = "My name is "

state + "Akanksha"

'My name is Akanksha'

In [99]:
## instead of doing concatenation we use string place holder

a = "Her name is %s "   ### s for string
a%("Akanksha")

'Her name is Akanksha '

In [107]:
b = "Her age is %d "    ### d for int
b%(23)

'Her age is 23 '

In [108]:
c = "Her height is %f "
c%(5.4)

'Her height is 5.400000 '

In [109]:
### we can use multiple holder at a time

D = "My name is %s and i am %d year old"
D%("Akanksha",23)

'My name is Akanksha and i am 23 year old'

### String Functions

In [110]:
mystr = "   Hello Everyone "
mystr

'   Hello Everyone '

In [113]:
## Removes white space from begining & end

A = mystr.strip() 
A

'Hello Everyone'

In [114]:
## Return whole string in lowercase 

A.lower()

'hello everyone'

In [115]:
## Return whole string in uppercase 

A.upper()

'HELLO EVERYONE'

In [116]:
### count

mystr1 = "Hello world,Hello Everyone,Hello folks"
mystr1.count("Hello")                             ## Number of times substring "Hello" occurred in string.

3